<a href="https://colab.research.google.com/github/Hijaab/Power-Clean-washing-company-Website/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Enter the Marks of 5 Subjects:")
DSA = int(input("DSA: "))
Linear_Algebra = int(input("Linear Algebra: "))
MIS = int(input("MIS: "))
HCI = int(input("HCI: "))
Requirement_Engineering = int(input("Requirement_Engineering: "))
average = ((DSA + Linear_Algebra + MIS + HCI + Requirement_Engineering) / 500) * 100

if average >= 90:
  grade = "A-One"
elif average < 90 and average >= 70:
  grade = "A-Grade"
elif average < 70 and average >= 50:
  grade = "B-Grade"
elif average < 50 and average >0:
  grade = "Fail"

print("The average of the entered 5 subjects is ", average, "and the grade is ", grade)

Enter the Marks of 5 Subjects:
DSA: 9
Linear Algebra: 99
MIS: 99
HCI: 99
Requirement_Engineering: 99
The average of the entered 5 subjects is  81.0 and the grade is  A-Grade

In [ ]:
num = int(input("Enter the number: "))
result = num % 2
if result == 0:
  print(num, "is Even")
else:
  print(num, "is odd")

Enter the number: 90
90 is Even

In [4]:
import array as arr
print("Inserting 50 at position 3:")
a = arr.array('i', [25, 13, 45, 67, 34, 11, 23, 17, 20, 6])
a.insert(2, 50)
print(a)
print(" ")
print("Traversing the array:")
for x in a:
  print(x)
print(" ")
print("Deleting an element located at position 5")
a.remove(34)
print(a)

Inserting 50 at position 3:
array('i', [25, 13, 50, 45, 67, 34, 11, 23, 17, 20, 6])

Traversing the array:
25
13
50
45
67
34
11
23
17
20
6

Deleting an element located at position 5
array('i', [25, 13, 50, 45, 67, 11, 23, 17, 20, 6])

In [7]:
import array as arr
a = arr.array('i', [1, 2, 3, 4, 5])
a.reverse()
print("Reverse a list is ", a)

array('i', [5, 4, 3, 2, 1])

In [13]:
import array as arr
a = arr.array('i', [34, 13, 56, 78, 23, 45, 67, 89])
min = a[0]
for  i in range(0, len(a)):
  if a[i] < min:
    min = a[i]
print("The lowest value in the provided array is ", str(min))

The lowest value in the provided array is  13

In [14]:
thislist = ["Babar", "Rizwan", "Shaheen"]
thislist.reverse()
print(thislist[0:])

Reverse a list is  array('i', [5, 4, 3, 2, 1])

In [ ]:
num = [1, 2, 3, 4]
newlist = []
for x in num:
   newlist.append(x*x)
print(newlist)

[1, 4, 9, 16]

In [ ]:
list1 = [56, 16, 10]
list2 = ["Babar", "Rizwan", "Shaheen"]
list3 = ["Batsman", "Wicket-Keeper", "Bowler"]
newlist = []

for x in list1:
  newlist.append(x)

for x in list2:
  newlist.append(x)  

for x in list3:
  newlist.append(x)

print(newlist)

[56, 16, 10, 'Babar', 'Rizwan', 'Shaheen', 'Batsman', 'Wicket-Keeper', 'Bowler']

In [ ]:
list1 = ["Mike", "", "Emma", "Kellly", "", "Brad"]
for x in list1:
  if x == "":
    list1.remove(x)
print(list1)

['Mike', 'Emma', 'Kellly', 'Brad']